*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: bisque;
}
h1
{
    text-align: center;
}
#final-price
{
    max-width: 1200px;
    margin: 0 auto;
    background-color: darkgray;
    color: black;
    text-align: center;
    padding: 20px 0;
}